*
{
  font-size:1.5vw;
}

th, caption
{
    font-size:2vw;
    background-color:cyan;
    border:3px solid darkcyan;
    font-weight:bold;
}
table
{
    border-spacing:0
}
td
{
    border:1px solid #606060;
}
*[scope^="col"]
{
    column-width:20vw;
}
*[scope^="row"]
{
    font-size:3vw;
}
thead th
{
    background-color:aquamarine
}
th + td
{
    font-weight:bold;
}
img
{
  width:15vw;
  min-width:100px;
}

